<h1 style="text-align:center;">Submission Sent!</h1>
<p style="text-align:center;">Congrats! Your message has been succsessfully sent</p>

<body style="text-align:center;">
    Here is some information on the message you sent: 
</body>

<br>
<br>

<p2>Phone Number of Recipient:</p2>
<%= params[:phone] %>

<br>
<br>

<p3>Message Sent:</p3>

<br>

<%= params[:body] %>
