<h1>Submission Sent!</h1>
<p>Congrats! Your message has been succsessfully sent</p>

<body>
    Here is some information on the message you sent: 
</body>

<br>
<br>

<p2>Phone Number of Recipient:</p2>
<%= params[:phone] %>

<br>
<br>

<p3>Message Sent:</p3>

<br>

<%= params[:body] %>
